:root {
    --main-color-1: #1e242a;  
    --main-color-2: #47494f; 
    --main-color-3: #FFFFFF; 

    --primary-color-1: #737478; 
    --primary-color-2: #818181;
    --primary-color-3: #737478a4; 

    --secondary-color-1: #EABF57; 
    --secondary-color-2: #eabe57dd;

    --tertiary-color-1: #CC2626;
    --tertiary-color-2: #cc262690;

    --danger-color: rgb(206, 42, 42);

    --fz-xs: clamp(10px, calc(12 / 1200 * 100vw), 12px);
    --fz-s: clamp(14px, calc(16 / 1200 * 100vw), 16px);
    --fz-m: clamp(16px, calc(22 / 1200 * 100vw), 22px);
    --fz-l: clamp(24px, calc(36 / 1200 * 100vw), 36px);
    --fz-xl: clamp(28px, calc(48 / 1200 * 100vw), 48px);

    --lh-xs: 120%;
    --lh-s: 130%;
    --lh-m: 140%;
    --lh-l: 116%;
    --lh-xl: 120%;
}
